.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}
.hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}
.left > h3 {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.icon {
  padding: 5px;
  cursor: pointer;
}
.icon:hover {
  color: white;
}
.search {
  display: flex;
  align-items: center;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}
.search > input {
  background: transparent;
  outline-width: 0;
  border: none;
  color: white;
}
